{% extends 'shop/base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">

    <div class="row">

        <div class="col-md-6">

            <div class="row">

                <div class="col-md-12">

                    <img src="{{ product_object.image }}" class="img-fluid">

                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="row">

                <div class="col-md-12">

                    <h3>{{ product_object.title }}</h3>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12">

                    <p>{{ product_object.description }}</p>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12">

                    <p>Price: $ {{ product_object.price }}</p>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12">

                    <p>Discount Price: $ {{ product_object.discount_price }}</p>

                </div>



            </div>

        </div>

    </div>

</div>

{% endblock %}